input {
    background: transparent;
    border: 1px solid rgb(217, 217, 217);
    border-top-color: rgb(192, 192, 192);

    color: #37474F;
    font-family: "klavika";
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    height: 22px;
    line-height: 1.25;
    padding: 2px 2px 0;
}


::-webkit-input-placeholder {
    color: #37474f;
    font-style: italic;
    opacity: 0.5;
}

::-moz-placeholder {
    color: #37474f;
    font-style: italic;
    opacity: 0.5;

}

:-ms-input-placeholder {
    color: #37474f;
    font-style: italic;
    opacity: 0.5;

}

